.category-theme-default {
    border-color: var(--color-default);
    color: var(--color-default);
}

.category-theme-default-background {
    background-color: var(--color-default-background);
}

.category-theme-default.is-active {
    background-color: var(--color-default);
    color: var(--background);
}

.category-theme-c3 {
    border-color: var(--color-c3);
    color: var(--color-c3);
}

.category-theme-c3-background {
    background-color: var(--color-c3-background);
}

.category-theme-c3.is-active {
    background-color: var(--color-c3);
    color: var(--background);
}

.category-theme-c3_1 {
    border-color: var(--color-c3_1);
    color: var(--color-c3_1);
}

.category-theme-c3_1-background {
    background-color: var(--color-c3_1-background);
}

.category-theme-c3_1.is-active {
    background-color: var(--color-c3_1);
    color: var(--background);
}

.category-theme-c3_2 {
    border-color: var(--color-c3_2);
    color: var(--color-c3_2);
}

.category-theme-c3_2-background {
    background-color: var(--color-c3_2-background);
}

.category-theme-c3_2.is-active {
    background-color: var(--color-c3_2);
    color: var(--background);
}

.category-theme-c4 {
    border-color: var(--color-c4);
    color: var(--color-c4);
}

.category-theme-c4-background {
    background-color: var(--color-c4-background);
}

.category-theme-c4.is-active {
    background-color: var(--color-c4);
    color: var(--background);
}

.category-theme-c5 {
    border-color: var(--color-c5);
    color: var(--color-c5);
}

.category-theme-c5-background {
    background-color: var(--color-c5-background);
}

.category-theme-c5.is-active {
    background-color: var(--color-c5);
    color: var(--background);
}